<% provide(:title, 'Edit article') %>
<% provide(:button_text, 'Submit') %>
<h1>Edit Article</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'article_form' %>
  </div>
</div>
