<% provide(:title, 'Edit recipe') %>
<% provide(:button_text, 'Submit chnages') %>
<h1>Edit Beer Recipe</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
