<% provide(:title, "Recipe") %>
<h2><%= @recipe.name %></h2>
<p>
  <%= @recipe.description %>
</p>

<%= render partial: 'comments/comment', locals: { commentable: @recipe } %>
<%= render partial: 'comments/form', locals: { commentable: @recipe } %>
