<% provide(:title, "About") %>
<h1>NW Brewmeisters</h1>
<p>
  This is the about page for NW Brewmeisters
</p>
<p>
  Just a couple of guys living NW Washington who like beer...and think you should too.
</p>
