<!DOCTYPE html>
<html>
  <head>
    <title>Home | NW Brewmeisters</title>
  </head>
  <body>
    <h1>NW Brewmeisters</h1>
    <p>
      This is the home page for NW Brewmeisters
    </p>
    <p>
      Just a couple of guys living NW Washington who like beer...and think you should too.
    </p>
  </body>
</html>
