<div class="center jumbotron">
  <h1>NW Brewmeisters</h1>
  <h2>
    <p>
      This is the home page for NW Brewmeisters
    </p>
  </h2>
  <p>
    Just a couple of guys living NW Washington who like beer...and think you should too.
  </p>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
