<footer class="footer">
  <small>
    <a href="http://www.nwbrewmeisters.com/">NW Brewmeisters</a>
    sponsored by <a href="http://www.soundlancer.net/">SoundLancer LLC </a><br>
    Developed by <a href="http://www.smyhktech.net/">SmyhkTech </a>&copy; 2017
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
